.input_search_bar {
  border: none;
  padding: 0.4em 1em;
  border-radius: 25px;
  background: #7c7c7c2b;
  color: white;
  font-size: 20px;
}

.search_button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
